


.proj-page h2 {
  font-size:12pt;
  font-weight:600;
  padding-top:0.6rem;
  padding-bottom:0.2rem;
}

.proj-page p, .proj-page li {
  font-size: 10pt;
  font-weight: 400;
  margin: 0.6rem auto;
}

.proj-page figure, .proj-page img {
  width:85%;
  min-width: 700px;
  max-width:1200px;
  margin: 2rem auto;
  border-radius:8px;
}

.bold {
  font-weight: bold;
}

.code {
  font-family: monospace;
  background-color: rgb(242, 242, 242);
  padding: 2px 4px;
  border-radius: 2px;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}