
.galaxy {
    position:fixed;
    z-index:1;
    margin:4rem 2rem;
    bottom:-25vh;
    transition : all 200ms cubic-bezier(.23,.65,1,1);
    overflow: hidden;
    height:500px;
    width:calc(100% - 4rem);
    filter:blur(0rem) saturate(1.4);
    border-radius:16px;
    min-height:500px;
}

@media screen and (max-width: 760px) {
  .galaxy{
    width:100%;
    margin: 4rem 0rem;
    bottom:-20vh;
    border-radius:0px;
  }
  .galaxy.blurred{
    bottom:-10vh;
    border-radius:200px;
  }
}


.galaxy.blurred {
    z-index:-1;
    bottom:-60vh;
    filter:blur(8rem) saturate(2) brightness(2);
    opacity:0.8;
    border-radius:400px;
}

.galaxy-con {
    display: flex;
    width:100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    max-width:1000px;
    margin:auto;
    overflow:hidden;
}

.galaxy-frame {
  margin: auto;
  align-self: center;
  justify-self: center;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color:black;
}

.galaxy-frame > div{
    margin-top:-10%;
    margin-left: -10%;
    width: 120%;
    height:100%;
    min-height: 70vh;
    object-fit: cover;
    position: absolute;
    transition: transform 2.5s cubic-bezier(0.075, 0.82, 0.165, 1), bottom 2s linear;
}
.galaxy-frame img{
    width: 100%;
    height:100%;
    position:absolute;
    object-fit: cover;
}

.lighten {
  mix-blend-mode: screen;
  filter: brightness(0.5);
  
}

.screen {
  mix-blend-mode: color-dodge;
  
}

