@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: rgb(255, 255, 255);
  --headerBackground: rgba(255, 255, 255, 0.73);

  --bg-main: rgb(255, 255, 255);
  --bg-maint: rgb(255, 255, 255, 0.5);
  --bg-soft100: rgba(0, 0, 0, 0.04);
  --bg-soft200:  rgba(0, 0, 0, 0.08);
  --bg-soft300:  rgba(0, 0, 0, 0.15);

  /* Text Color */
  --text-prim: rgb(20, 20, 20);
  --text-soft200: rgb(50, 50, 50);
  --text-soft100:rgb(150, 150, 150);
}

[data-theme='dark'] {
  --background-color: rgb(20, 20, 20);
  --headerBackground: rgba(20, 20, 20, 0.75);

  --bg-main: rgb(20, 20, 20);
  --bg-maint: rgb(20, 20, 20, 0.5);
  --bg-soft100: rgba(255, 255, 255, 0.04);
  --bg-soft200:  rgba(255, 255, 255, 0.08);
  --bg-soft300: rgba(255, 255, 255, 0.15);

  --text-prim: rgb(224, 224, 224);
  --text-soft200: rgba(202, 202, 202, 0.663);
  --text-soft100: rgba(193, 193, 193, 0.356);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-color);
}

main {
  margin: 0 auto;
  max-width: none;
  padding:0rem 1rem;
}

main > :not(img, video, figure) {
  max-width: 600px;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

header {
  width:100vw!important;
}

h2 {
  font-size:12pt;
  font-weight: 550;
  margin: 1rem 0px;
  color: var(--text-primary-soft);
}

p {
  font-size:11pt;
  color: var(--text-primary-soft);
}

@media (min-width: 768px) {
  .project > :not(.not-prose, video) {
    width: calc(100% - 80px);
  }
}
