@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: rgb(255, 255, 255);
  --headerBackground: rgba(255, 255, 255, 0.73);
  --link-hover: rgba(232, 227, 224, 0.439); /* bg-linkHover class */ 

  --text-primary: rgb(18, 18, 18);
  --text-primary-soft: rgb(51, 51, 51);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-color);
}

main {
  margin: 0 auto;
  max-width: none;
  padding:0rem 1rem;
}

main > :not(img, video, figure) {
  max-width: 600px;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

header {
  width:100vw!important;
}

h2 {
  font-size:12pt;
  font-weight: 550;
  margin: 1rem 0px;
  color: var(--text-primary-soft);
}

p {
  font-size:11pt;
  color: var(--text-primary-soft);
}

@media (min-width: 768px) {
  .project > :not(.not-prose, video) {
    width: calc(100% - 80px);
  }
}
